.home {
  .section-banner {
    height: calc(100vh - 100px);
    background: url('../../assets/images/banner-image@2x.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    > h1 {
      font-size: 100px;
      max-width: 580px;
      min-width: 248px;
      text-align: center;
      color: $white;
      font-weight: 900;
      letter-spacing: -0.1px;
      line-height: 1;

      @include tablet {
        font-size: 70px;
      }

      @include phone {
        max-width: 450px;
        font-size: 48px;
      }
    }

    > p {
      font-size: 24px;
      color: $white;
      letter-spacing: 5px;
      margin: 20px 0 43px;
      font-weight: 500;
      text-transform: uppercase;

      @include tablet {
        font-size: 18px;
      }

      @include phone {
        font-size: 14px;
        max-width: 240px;
      }
    }
  }

  .section-about {
    padding-top: 78px;
    padding-bottom: 71px;
    .container {
      > h2 {
        color: $dark;
        font-size: 42px;
        font-weight: 700;
        letter-spacing: -0.54px;
        text-align: center;
        margin-bottom: 43px;

        @include phone {
          font-size: 32px;
          margin-bottom: 28px;
        }
      }

      > p {
        font-size: 18px;
        line-height: 1.78;
        letter-spacing: -0.15px;
        color: $dark;
        text-align: center;
        margin-bottom: 42px;

        @include phone {
          font-size: 14px;
          margin-bottom: 24px;
        }
      }

      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;

        > figure {
          width: 60px;
        }
      }
    }
  }
}
