{% set calendarIitems = [
  {image:'../assets/images/number1.png', title: 'Başvuru Süreci', date: '15 EKİM - 7 Kasım 2021'},
  {image:'../assets/images/number2.png', title: 'Geleceği Yazanlar Online Eğitimleri ', date: '7 Kasım - 26 Kasım 2021'},
  {image:'../assets/images/number3.png', title: 'Teknik Test & Mülakat', date: '27 Kasım - 10 Aralık 2021'},
  {image:'../assets/images/number4.png', title: 'Bootcamp Programının Başlangıcı', date: '2 Aralık 2021'},
  {image:'../assets/images/number5.png', title: 'Bootcamp Programı', date: '20 Aralık 2021 - 20 NİSAN 2022'},
  {image:'../assets/images/number6.png', title: 'Part Time Çalışma ', date: '2 Mayıs  - 31 Mayıs 2022'},
  {image:'../assets/images/number7.png', title: 'Turkcell ve Grup Şirketlerde İşe Alım', date: 'HAZİRAN 2022'}
] %}

{% macro item(calImage, calTitle, calDate, imgRight) %}
  {% if imgRight %}
    <div class="calendar justify-end">
      <div>
        <span>{{ calTitle }}</span>
        <span>{{ calDate }}</span>
      </div>
      <figure>
        <img src="{{ calImage }}">
      </figure>
    </div>
  {% else %}
    <div class="calendar">
      <figure>
        <img src="{{ calImage }}">
      </figure>
      <div>
        <span>{{ calTitle }}</span>
        <span>{{ calDate }}</span>
      </div>
    </div>
  {% endif %}
{% endmacro %}