{% macro item(calImage, calTitle, calDate, imgRight) %}
  {% if imgRight %}
    <div class="calendar justify-end">
      <div>
        <span>{{ calTitle }}</span>
        <span>{{ calDate }}</span>
      </div>
      <figure>
        <img src="{{ calImage }}">
      </figure>
    </div>
  {% else %}
    <div class="calendar">
      <figure>
        <img src="{{ calImage }}">
      </figure>
      <div>
        <span>{{ calTitle }}</span>
        <span>{{ calDate }}</span>
      </div>
    </div>
  {% endif %}
{% endmacro %}