{% import 'includes/components/Button/button.njk' as Button %}

{% set navItems = [
  {
    title: 'Program Hakkında',
    url: '#about-program'
  }, {
    title: 'Eğitim Programı',
    url: '#education'
  }, {
    title: 'Takvim',
    url: '#calendar'
  }, {
    title: 'Başvuru',
    url: '#apply'
  }, {
    title: 'SSS',
    url: '#faq'
  }, {
    title: 'İletişim',
    url: '#contact'
  }
] %}

<div class="container">
  <figure>
    <img class="logo" src="../assets/images/logo@2x.png" alt="Logo">
  </figure>

  <div class="burger-menu">
    <img class="burger-menu__open" src="../assets/images/burger-menu.png">
    <img class="burger-menu__close" src="../assets/images/burger-menu-close.png">
  </div>

  <nav class="header__nav">
    {% for navItem in navItems %}
      <a href="{{navItem.url}}">{{navItem.title}}</a>
    {% endfor %}

    {{Button.item(
        text='Giriş Yap'
      )}}
  </nav>
</div>

{# {% set calendarIitems = [
  {image:'../assets/images/number1', title: 'Başvuru Süreci', date: '15 EKİM - 7 Kasım 2021'}
  {image:'../assets/images/number2', title: 'Geleceği Yazanlar Online Eğitimleri ', date: '7 Kasım - 26 Kasım 2021'}
  {image:'../assets/images/number3', title: 'Teknik Test & Mülakat', date: '27 Kasım - 10 Aralık 2021'}
  {image:'../assets/images/number4', title: 'Bootcamp Programının Başlangıcı', date: '2 Aralık 2021'}
  {image:'../assets/images/number5', title: 'Bootcamp Programı', date: '20 Aralık 2021 - 20 NİSAN 2022'}
  {image:'../assets/images/number6', title: 'Part Time Çalışma ', date: '2 Mayıs  - 31 Mayıs 2022'}
  {image:'../assets/images/number7', title: 'Turkcell ve Grup Şirketlerde İşe Alım', date: 'HAZİRAN 2022'}
] %}

{% macro item(calImage, calTitle, calDate) %}
  <div class="calendar__item">
    <figure>
      <img src="{{ calImage }}">
    </figure>
    <div>
      <span>{{ calTitle }}</span>
      <span>{{ calDate }}</span>
    </div>
  </div>
{% endmacro %} #}