{% import 'includes/components/Button/button.njk' as Button %}

{% set navItems = [
  {
    title: 'Program Hakkında',
    url: '#program'
  }, {
    title: 'Eğitim Programı',
    url: '#education'
  }, {
    title: 'Başvuru',
    url: '#apply'
  }, {
    title: 'SSS',
    url: '#faq'
  }, {
    title: 'İletişim',
    url: '#contact'
  }
] %}

<header class="header">
  <div class="container">
    <figure>
      <img class="logo" src="../assets/images/logo@2x.png" alt="Logo">
    </figure>

    <div class="burger-menu">
      <img class="burger-menu__open" src="../assets/images/burger-menu.png">
      <img class="burger-menu__close" src="../assets/images/burger-menu-close.png">
    </div>

    <nav class="header__nav">
      {% for navItem in navItems %}
        <a href="{{navItem.url}}">{{navItem.title}}</a>
      {% endfor %}

      {{Button.item(
        text='Giriş Yap'
      )}}
    </nav>
  </div>
</header>