{% import 'includes/components/Button/button.njk' as Button %}

{% set navItems = [
  {
    title: 'Program Hakkında',
    url: '#about-program'
  }, {
    title: 'Eğitim Programı',
    url: '#education'
  }, {
    title: 'Takvim',
    url: '#calendar'
  }, {
    title: 'Başvuru',
    url: '#apply'
  }, {
    title: 'SSS',
    url: '#faq'
  }, {
    title: 'İletişim',
    url: '#contact'
  }
] %}

<div class="container">
  <a href="/">
    <figure>
      <img class="logo" src="../assets/images/logo@2x.png" alt="Logo">
    </figure>
  </a>

  <div class="burger-menu">
    <img class="burger-menu__open" src="../assets/images/burger-menu.png">
    <img class="burger-menu__close" src="../assets/images/burger-menu-close.png">
  </div>

  <nav class="header__nav">
    {% for navItem in navItems %}
      <a href="{{navItem.url}}">
        <span>{{navItem.title}}</span>
        <figure><img src="../assets/images/arrow-down.png"></figure>
      </a>
    {% endfor %}

    <div>
      {{Button.item(
        text='Giriş Yap'
      )}}
    </div>

    <figure class="halo">
      <img src="../assets/images/hareler-menu.png">
    </figure>
  </nav>
</div>