<div class="container">
  <div>
    <figure class="footer__logo">
      <img src="../assets/images/white-logo@2x.png" alt="Logo">
    </figure>

    <div class="footer__links">
      <div>
        <a href="javascript:;">Hakkımızda</a>
        <a href="#contact">Bize Ulaşın</a>
        <a href="javaascript:;">Kullanım Şartları</a>
        <a href="#faq">SSS</a>
        <a href="javascript:;">Yardım</a>
      </div>

      <div>
        <a href="javascript:;">
          <strong>Eğitimler</strong>
        </a>
      </div>
    </div>

    <div class="footer__line"></div>

    <div class="footer__copy">
      <span>© 2021 Copyright Turkcell</span>
      <span class="vertical-line"></span>
      <span>Tüm hakları TURKCELL İLETİŞİM HİZMETLERİ A.Ş.’ye aittir.</span>
    </div>

    <div class="footer__social">
      <span>Bizi Takip Edin</span>
      <div class="footer__social__links">
        <a href="javascript:;"><img src="../assets/images/icons-social-twitter@2x.png" alt="Twitter"></a>
        <a href="javascript:;"><img src="../assets/images/icons-social-facebook@2x.png" alt="Facebook"></a>
        <a href="javascript:;"><img src="../assets/images/icons-social-instagram@2x.png" alt="Instagram"></a>
        <a href="javascript:;"><img src="../assets/images/icons-social-youtube@2x.png" alt="Youtube"></a>

      </div>
    </div>
  </div>
</div>