.program-card {
  $self: &;
  max-width: 480px;
  width: 100%;
  border-radius: 32px;
  background-color: $white;
  box-shadow: 0 20px 30px 0 rgba(37, 51, 66, 0.2);
  margin-bottom: 40px;

  &:nth-child(odd) {
    margin-right: 20px;

    @include wrap {
      margin-right: 0;
    }
  }

  @include phone {
    max-width: 320px;
    margin-bottom: 20px;
  }

  #{ $self }__head {
    padding: 30px 30px 0 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include phone {
      padding: 20px 20px 0 27px;
    }

    > span {
      max-width: 249px;
      display: block;
      line-height: 1.4;
      letter-spacing: -0.56px;
      color: $dark;
      font-size: 30px;
      font-weight: 700;
      margin-top: 10px;

      @include phone {
        font-size: 20px;
      }
    }

    > span.narrow {
      max-width: 178px;
    }

    > figure {
      max-width: 180px;
      width: 100%;
      height: 120px;

      @include phone {
        max-width: 120px;
        height: 80px;
      }
    }
  }

  #{ $self }__body {
    padding-left: 40px;
    overflow-y: hidden;

    @include phone {
      padding-left: 20px;
    }

    .strong {
      font-size: 18px;
      // line-height: 2.33;
      letter-spacing: -0.34px;
      color: $dark;
      font-weight: 700;
      display: block;
      margin-bottom: 13px !important;
      max-width: 209px;

      @include phone {
        font-size: 14px;
      }
    }

    > ul {
      color: $darker;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: -0.17px;
      padding-right: 40px;
      max-height: 190px;

      @include phone {
        font-size: 14px;
        max-height: 118px;
      }

      > li:not(:last-child) {
        margin-bottom: 10px;

        @include phone {
          margin-bottom: 5px;
        }
      }
    }
  }

  #{ $self }__btn {
    padding: 20px 0 20px 40px;
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    border-top: 2px solid $gray-3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    @include phone {
      padding: 13px 0 15px 20px;
      font-size: 14px;
    }

    > figure {
      width: 24px;
      margin-top: 4px;
    }
  }
}
