.header {
  $self: &;
  height: 100px;
  position: relative;

  @include large {
    height: 64px;
    background-color: $blue-2;
  }

  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > a {
      z-index: 12;

      > figure {
        max-width: 244px;

        img {
          display: block;
        }

        @include phone {
          padding: 24px 0;
          max-width: 186px;
        }
      }
    }

    .burger-menu {
      width: 24px;
      cursor: pointer;
      margin-right: 6px;
      display: none;

      @include large {
        display: block;
      }

      &__close {
        display: none;
      }

      &.active .burger-menu__close {
        display: block;
        // margin-right: 5px;
        // width: 32px;
      }

      &.active .burger-menu__open {
        display: none;
      }
    }

    #{ $self }__nav {
      display: flex;
      align-items: center;
      background-color: $white;

      @include large {
        width: 100%;
        flex-direction: column;
        align-items: baseline;
        position: absolute;
        padding: 0 16px;
        top: -464px;
        left: 0;
        transition: all 500ms cubic-bezier(0.21, 0.77, 0.82, 0.25);
      }
      > a {
        color: $dark;
        margin-right: 40px;
        font-size: 16px;
        font-weight: 700;

        @include large {
          padding: 10px 0;
        }

        > figure {
          display: none;
        }
      }
    }

    #{ $self }__nav.visible {
      top: 64px;
      height: calc(100vh - 64px);
      z-index: 10;
      background: linear-gradient(
        180deg,
        rgba(39, 106, 234, 1) 1%,
        rgba(26, 41, 127, 1) 100%
      );

      > a:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }

      > a {
        width: 100%;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 11px 0;
        z-index: 12;

        > figure {
          display: block;
          width: 24px;
        }
      }

      > div {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 16px;
        background-color: $blue-2;

        > button {
          width: 100%;
        }
      }
    }

    .halo {
      position: absolute;
      width: 80%;
      top: -64px;
      left: 0;
      display: none;

      &.active {
        display: block;
      }
    }
  }
}
