{% extends 'includes/layout/layout.njk' %}
{% import "includes/components/Button/button.njk" as Button %}

{% block content %}
  <main class="home">
    <section class="section-banner">
      <h1>GELECEĞİ YAZANLAR</h1>
      <p>Gençlere yatırım, geleceğe yazılım!</p>

      {{Button.item(
    text='Başvurfff',
    class='button--wide'
  )}}
    </section>

    <section id="about-program" class="section-about">
      <div class="container">
        <h2 class="section__title">Program Hakkında</h2>
        <p class="section__desc">Geleceğini Yazanlar Programı, yazılım sektöründe ihtiyaç duyulan alanlarda nitelikli insan kaynağı yetiştirmek ve istihdam sağlayarak Türkiye’nin yazılım sektöründe öncü ülke haline gelmesini hedefliyor.</p>
        <p class="section__desc">Birebir mentorluk, sınıf içi eğitimler ve kişisel gelişim eğitimleri ile desteklenen yolculukta katılımcılar programı başarı ile tamamladıklarında Turkcell ve grup şirketlerinde istihdam imkanını da yakalamış olacaklar.</p>
        <p class="section__desc">Bootcamp Programına katılmaya hak kazanan katılımcılara gelişim yolculukları boyunca Milli Eğitim Bakanlığı tarafından bütçe desteği de sağlanacaktır.</p>

        <div>
          <figure>
            <img src="../assets/images/topcik@2x.png" alt="Turkcell Logo">
          </figure>
          <figure>
            <img src="../assets/images/meb-logo@2x.png" alt="MEB Logo">
          </figure>
        </div>
      </div>
    </section>

    <section id="education" class="section-education">
      <div class="section-education__title">
        <h2 class="section__title">Eğitim Programı</h2>
        <div>
          <figure>
            <img src="../assets/images/b-0@2x.png">
          </figure>
          <figure>
            <img src="../assets/images/b-2@2x.png">
          </figure>
        </div>
      </div>

      <p class="section__desc">Programda aşağıdaki eğitim başlıklarında eğitim, gelişim ve istihdam fırsatları bulunuyor.</p>
    </section>

    <section id="apply" class="section-apply">
      <div class="container">
        <div>
          <h2 class="section__title">Başvuru Koşulları</h2>
          <p>Programa başvurabilmek için gerekli koşullar aşağıda belirtilmiştir:</p>

          <ul>
            <li>
              <figure><img src="../assets/images/check@2x.png"></figure>Üniversitelerin mühendlislik bölümlerinde okuyan 4. Sınıf, yeni mezun veya en fazla 2 yıllık iş tecrübesine sahip olan</li>
            <li>
              <figure><img src="../assets/images/check@2x.png"></figure>Yazılım ve kodlama alanında kariyer sahibi olmak isteyen</li>
          </ul>

          <div>
            <span>Son Başvuru Tarihi</span>
            <span>7 Kasım 2021</span>
          </div>

          {{Button.item(
          text='Hemen Başvur',
          class='button--wide'
        )}}
        </div>
      </div>
    </section>
  </main>
{% endblock %}