{% extends 'includes/layout/layout.njk' %}
{% import 'includes/components/Button/button.njk' as Button %}
{% import 'includes/components/Calendar/calendar.njk' as Calendar %}
{% import 'includes/components/ProgramCard/program-card.njk' as ProgramCard %}
{# {% import 'includes/components/Calendar/calendar-2.njk' as Calendar2 with context %} #}

{# {% set calendarIitems = [
  {image:'../assets/images/number1.png', title: 'Başvuru Süreci', date: '15 EKİM - 7 Kasım 2021'},
  {image:'../assets/images/number2.png', title: 'Geleceği Yazanlar Online Eğitimleri ', date: '7 Kasım - 26 Kasım 2021'},
  {image:'../assets/images/number3.png', title: 'Teknik Test & Mülakat', date: '27 Kasım - 10 Aralık 2021'},
  {image:'../assets/images/number4.png', title: 'Bootcamp Programının Başlangıcı', date: '2 Aralık 2021'},
  {image:'../assets/images/number5.png', title: 'Bootcamp Programı', date: '20 Aralık 2021 - 20 NİSAN 2022'},
  {image:'../assets/images/number6.png', title: 'Part Time Çalışma ', date: '2 Mayıs  - 31 Mayıs 2022'},
  {image:'../assets/images/number7.png', title: 'Turkcell ve Grup Şirketlerde İşe Alım', date: 'HAZİRAN 2022'}
] %} #}

{% block content %}
  <main class="home">
    <section class="section-banner">
      <h1>GELECEĞİ YAZANLAR</h1>
      <p>Gençlere yatırım, geleceğe yazılım!</p>

      {{Button.item(
        text='Başvur',
        class='button--wide'
      )}}
    </section>

    <section id="about-program" class="section-about">
      <div class="container">
        <h2 class="section__title">Program Hakkında</h2>
        <p class="section__desc">Geleceğini Yazanlar Programı, yazılım sektöründe ihtiyaç duyulan alanlarda nitelikli insan kaynağı yetiştirmek ve istihdam sağlayarak Türkiye’nin yazılım sektöründe öncü ülke haline gelmesini hedefliyor.</p>
        <p class="section__desc">Birebir mentorluk, sınıf içi eğitimler ve kişisel gelişim eğitimleri ile desteklenen yolculukta katılımcılar programı başarı ile tamamladıklarında Turkcell ve grup şirketlerinde istihdam imkanını da yakalamış olacaklar.</p>
        <p class="section__desc">Bootcamp Programına katılmaya hak kazanan katılımcılara gelişim yolculukları boyunca Milli Eğitim Bakanlığı tarafından bütçe desteği de sağlanacaktır.</p>

        <div>
          <figure>
            <img src="../assets/images/topcik@2x.png" alt="Turkcell Logo">
          </figure>
          <figure>
            <img src="../assets/images/meb-logo@2x.png" alt="MEB Logo">
          </figure>
        </div>

        {# {% for item in calendarIitems %}
          {{Calendar2.item(
          calImage=item.image,
          calTitle=item.title,
          calDate=item.date
        )}}
        {% endfor %} #}
      </div>
    </section>

    <section id="education" class="section-education">
      <div class="section-education__title">
        <h2 class="section__title">Eğitim Programı</h2>
        <div>
          <figure>
            <img src="../assets/images/b-0@2x.png">
          </figure>
          <figure>
            <img src="../assets/images/b-2@2x.png">
          </figure>
          <figure>
            <img src="../assets/images/b-4@2x.png">
          </figure>
        </div>
      </div>

      <p class="section__desc">Programda aşağıdaki eğitim başlıklarında eğitim, gelişim ve istihdam fırsatları bulunuyor.</p>

      <div class="container">
        {{ProgramCard.item(
          heading='IOS/ Swift Developer',
          title='Swift Ders Programı',
          image ='../assets/images/img-9@2x.png',
          btnText='Tüm Program',
          btnIcon='../assets/images/arrow-small-right.png',
          item1='Swift Giriş',
          item2='Değişkenler ve Veri Tipleri',
          item3='Standart Programlama Yapıları',
          item4='OpXnal',
          item5='CollecXons',
          item6='Nesne Tabanlı Programlama'
        )}}

        {{ProgramCard.item(
          heading='Android / Kotlin Developer',
          title='Kotlin Ders Programı',
          image ='../assets/images/img-10@2x.png',
          btnText='Tüm Program',
          btnIcon='../assets/images/arrow-small-right.png',
          item1='Kotlin Giriş',
          item2='Android Studio Kurulumu ve İlk Proje Oluşturma',
          item3='Çalışma Ortamı Tanıtımı ve İlk Programın Çalıştırılması',
          item4='Bir Projenin Android Studio İçerisinde'
        )}}

        {{ProgramCard.item(
          heading='Java Developer',
          title='Java Ders Programı',
          image ='../assets/images/img-9@22x.png',
          btnText='Tüm Program',
          btnIcon='../assets/images/arrow-small-right.png',
          item1='Java & IDE kurulumu',
          item2='Programlama mantığının aktarılması',
          item3='Algoritma Bilgisi ve Mantığı',
          item4='Datatypes and Variables',
          item5='Operators and Expressions',
          item6='Control Flow',
          item7='Arrays'
        )}}

        {{ProgramCard.item(
          heading='. Net Developer',
          title='. Net Ders Programı',
          image ='../assets/images/img-100@2x.png',
          btnText='Tüm Program',
          btnIcon='../assets/images/arrow-small-right.png',
          item1='Temel kavramlar',
          item2='Visual Studio ortamı',
          item3='Standart Programlama Yapıları',
          item4='Temel .net kavramları',
          item5='Ilk uygulama',
          item6='Scope kavramı',
          item7='Değişkenler ve veritipleri',
          item8='Operatörler'
        )}}

        {{ProgramCard.item(
          heading='Data Scientist',
          title='Data Ders Programı',
          image ='../assets/images/img-8@2x.png',
          btnText='Tüm Program',
          btnIcon='../assets/images/arrow-small-right.png',
          item1='Python',
          item2='Numpy & Pandas',
          item3='Matplotlib & Seaborn',
          item4='Functional Exploratory Data Analysis'
        )}}

        {{ProgramCard.item(
          heading='Application Operations',
          title='Application Ders Programı',
          image ='../assets/images/img-7@2x.png',
          btnText='Tüm Program',
          btnIcon='../assets/images/arrow-small-right.png',
          item1='SQL Server Veritabanı Sorgulama',
          item2='SQL Server Veritabanı Yönetimi',
          item3='SQL Server Programlama',
          item4='LINUX Temelleri',
          item5='Client Kurulumları',
          item6='LINUX Shell Komutları',
          item7='Yetkiler ve Kurulum Yönetimi'
        )}}
      </div>
    </section>

    <section id="calendar" class="section-calendar">
      <div class="section-education__title">
        <div>
          <figure>
            <img src="../assets/images/c-1.png">
          </figure>
          <figure>
            <img src="../assets/images/c-2.png">
          </figure>
          <figure>
            <img src="../assets/images/c-4.png">
          </figure>
        </div>
        <h2 class="section__title">Takvim</h2>
      </div>

      <div class="container">
        {{Calendar.item(
            calImage = '../assets/images/number1.png', 
            calTitle = 'Başvuru Süreci', 
            calDate = '15 EKİM - 7 Kasım 2021'
          )}}
        {{Calendar.item(
            calImage = '../assets/images/number2.png', 
            calTitle = 'Geleceği Yazanlar Online Eğitimleri', 
            calDate = '7 Kasım - 26 Kasım 2021',
            imgRight= true
          )}}
        {{Calendar.item(
            calImage = '../assets/images/number3.png', 
            calTitle = 'Teknik Test & Mülakat', 
            calDate = '27 Kasım - 10 Aralık 2021'
          )}}
        {{Calendar.item(
            calImage = '../assets/images/number4.png', 
            calTitle = 'Bootcamp Programının Başlangıcı', 
            calDate = '2 Aralık 2021',
            imgRight= true
          )}}
        {{Calendar.item(
            calImage = '../assets/images/number5.png', 
            calTitle = 'Bootcamp Programı', 
            calDate = '20 Aralık 2021 - 20 NİSAN 2022'
          )}}
        {{Calendar.item(
            calImage = '../assets/images/number6.png', 
            calTitle = 'Part Time Çalışma', 
            calDate = '2 Mayıs  - 31 Mayıs 2022',
            imgRight= true
          )}}
        {{Calendar.item(
            calImage = '../assets/images/number7.png', 
            calTitle = 'Turkcell ve Grup Şirketlerde İşe Alım', 
            calDate = 'HAZİRAN 2022'
          )}}
      </div>
    </section>

    <section id="apply" class="section-apply">
      <div class="container">
        <div>
          <h2 class="section__title">Başvuru Koşulları</h2>
          <p>Programa başvurabilmek için gerekli koşullar aşağıda belirtilmiştir:</p>

          <ul>
            <li>
              <figure><img src="../assets/images/check@2x.png"></figure>Üniversitelerin mühendlislik bölümlerinde okuyan 4. Sınıf, yeni mezun veya en fazla 2 yıllık iş tecrübesine sahip olan</li>
            <li>
              <figure><img src="../assets/images/check@2x.png"></figure>Yazılım ve kodlama alanında kariyer sahibi olmak isteyen</li>
          </ul>

          <div>
            <span>Son Başvuru Tarihi</span>
            <span>7 Kasım 2021</span>
          </div>

          {{Button.item(
          text='Hemen Başvur',
          class='button--wide'
        )}}
        </div>
      </div>
    </section>

    <section id="faq" class="section-faq">
      <div class="section-education__title">
        <h2 class="section__title">Sık Sorulan Sorular</h2>
        <div>
          <figure>
            <img src="../assets/images/d-1.png">
          </figure>
          <figure>
            <img src="../assets/images/d-2.png">
          </figure>
          <figure>
            <img src="../assets/images/d-3.png">
          </figure>
        </div>
      </div>

      <div class="container">
        {% include 'includes/components/Accordion/accordion.njk' %}
      </div>
    </section>

    <section id="contact" class="section-contact">
      <h2 class="section__title section__title--white">İletişim</h2>
      <p class="section__desc section__desc--white">Daha fazla bilgi veya sorularınız için
        <strong>destek@gelecegiyazanlar.turkcell.com.tr</strong>
      ile iletişime geçebilirsiniz</p>
    </section>
  </main>
{% endblock %}