.section-calendar {
  padding-top: 124px;
  padding-bottom: 190px;

  .section-education__title {
    margin-bottom: 102px;
  }

  .section-education__title > div > figure:first-child::before {
    content: '';
    display: none;
  }
  .section-education__title > div > figure:last-child {
    margin-right: 33px;
  }
  .section-education__title > div > figure:last-child::before {
    content: '';
    background: url('../../assets/images/c-3.png');
    max-width: 50px;
    height: 60px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -4px;
    top: -3px;
    z-index: -1;
  }

  .container {
    display: flex;
    flex-direction: column;
  }
}
