.section-apply {
  padding: 120px 0;
  background: url('../../assets/images/img-wide@2x.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include phone {
    background: url('../../assets/images/img-narrow@2x.png');
  }

  .container {
    > div {
      max-width: 644px;
      background-color: $white;
      padding: 80px 80px 60px 80px;
      border-radius: 20px;

      h2 {
        margin-bottom: 24px;
        text-align: left;
      }

      p {
        color: $dark;
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 35px;
      }

      ul {
        font-size: 14px;

        li {
          display: flex;
          margin-bottom: 25px;
        }
      }

      > div {
        margin-bottom: 34px;
        > span {
          display: block;
        }

        > span:first-child {
          margin-bottom: 5px;
          font-weight: 700;
          color: $gray;
        }

        > span:nth-child(2) {
          color: $dark;
          font-weight: 700;
          font-size: 32px;
        }
      }
    }
  }
}
