.section-about {
  padding-top: 78px;
  padding-bottom: 71px;
  .container {
    > h2 {
      margin-bottom: 43px;

      @include phone {
        margin-bottom: 28px;
      }
    }

    > p {
      margin-bottom: 42px;

      @include phone {
        margin-bottom: 24px;
      }
    }

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;

      > figure {
        width: 60px;
      }
    }
  }
}
