.section-apply {
  padding: 120px 0;
  background: url('../../assets/images/img-wide@2x.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include phone {
    background: url('../../assets/images/img-narrow@2x.png');
  }

  .container {
    > div {
      max-width: 560px;
      background-color: $white;
      padding: 60px 80px 65px 80px;
      border-radius: 20px;

      h2 {
        margin-bottom: 18px;
        text-align: left;
      }

      p {
        color: $dark;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 37px;
        line-height: 1.33;
        letter-spacing: -0.05px;
      }

      ul {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 39px;

        > li:not(:last-child) {
          margin-bottom: 25px;
        }

        > li {
          display: flex;
          line-height: 1.71;
          letter-spacing: -0.04px;

          > figure {
            min-width: 18px;
            max-width: 18px;
            height: 13px;
            margin-right: 7px;
          }
        }
      }

      > div {
        margin-bottom: 37px;
        > span {
          display: block;
        }

        > span:first-child {
          font-size: 18px;
          margin-bottom: 1px;
          font-weight: 700;
          color: $gray;
        }

        > span:nth-child(2) {
          color: $dark;
          font-weight: 700;
          font-size: 32px;
        }
      }
    }
  }
}
