.section-banner {
  height: 782px;
  background: url('../../assets/images/banner-image@2x.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > h1 {
    font-size: 100px;
    max-width: 580px;
    min-width: 248px;
    text-align: center;
    color: $white;
    font-weight: 900;
    letter-spacing: -0.1px;
    line-height: 1;

    @include tablet {
      font-size: 70px;
    }

    @include phone {
      max-width: 450px;
      font-size: 48px;
    }
  }

  > p {
    font-size: 20px;
    color: $white;
    letter-spacing: 5px;
    margin: 20px 0 43px;
    font-weight: 6 00;
    text-transform: uppercase;

    @include tablet {
      font-size: 18px;
    }

    @include phone {
      font-size: 14px;
      max-width: 240px;
      text-align: center;
    }
  }
}
