$dark: #253342;
$darker: #1a1a1a;
$white: #fff;
$gray: #8e8f94;
$gray-2: #8e9fad;
$gray-3: #ecf0f2;
$gray-4: #dee3ed;
$gray-5: #5f6b76;

$yellow: #ffc900;
$blue: #2855ac;
$blue-2: #276aea;
$purple: #202a60;
