.container {
  max-width: 1200px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
}

.overflowHidden {
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.gap-20 {
  gap: 20px;
}

.section__title {
  color: $dark;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.54px;

  @include phone {
    font-size: 29px;
  }

  &--white {
    color: $white;
  }
}

.section__desc {
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: -0.15px;
  color: $dark;
  text-align: center;

  @include phone {
    font-size: 14px;
  }

  &--white {
    color: $white;
  }
}
