{% extends 'includes/layout/layout.njk' %}
{% import 'includes/components/Button/button.njk' as Button %}

{% set title = '. Net Developer' %}
{% set page = 'modal' %}
{% set netList = [
  {
    part: 'Bölüm 1.',
    topic: '. Net Giriş'
  }, {
    part: 'Bölüm 2.',
    topic: 'Değişkenler ve Veri Tipleri'
  }, {
    part: 'Bölüm 3.',
    topic: 'Standart Programlama Yapılar'
  }, {
    part: 'Bölüm 4.',
    topic: 'OpXnal'
  }, {
    part: 'Bölüm 5.',
    topic: 'CollecXons'
  }, {
    part: 'Bölüm 6.',
    topic: 'Nesne Tabanlı Programlama'
  }, {
    part: 'Bölüm 7.',
    topic: '. Net Giriş'
  }, {
    part: 'Bölüm 8.',
    topic: 'Değişkenler ve Veri Tipleri'
  }, {
    part: 'Bölüm 9.',
    topic: 'Standart Programlama Yapılar'
  }, {
    part: 'Bölüm 10.',
    topic: 'OpXnal'
  }, {
    part: 'Bölüm 11.',
    topic: 'CollecXons'
  }, {
    part: 'Bölüm 12.',
    topic: 'Nesne Tabanlı Programlama'
  }
] %}

{% block content %}
  {{Button.item(
    text='Open Modal',
    class='js-open-modal',
    buttonv3=true
  )}}

  <div class="modal-bg">
    <div class="modal">
      <div class="modal__header">
        <span>. Net Developer</span>
        <figure class="js-close-modal">
          <img src="../assets/images/modal-close.png">
        </figure>
      </div>
      <div class="modal__body">
        <div class="modal__body-content">
          <span>. Net Ders Programı</span>
          <ul>
            {% for item in netList %}
              <li>
                <span>{{item.part}}</span>{{item.topic}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}