{% import 'includes/components/OvalLogo/oval-logo.njk' as OvalLogo %}

{% macro item(cardLogo, cardLogoClass, cardTitle, cardText, cardSubLoop, cardBtnText, cardBtnIcon) %}
  <div class="program-card">
    <div class="program-card__head">
      <span class="{%- if item.narrow %}narrow{%- endif -%}">{{ cardTitle }}</span>
      {{OvalLogo.item(
        imgUrl=cardLogo,
        class=cardLogoClass
      )}}
    </div>
    <div class="program-card__body">
      <ul>
        {% for list in cardSubLoop %}
          <li class="{%- if list.strong %} strong{%- endif -%}">{{ list.text }}</li>
        {% endfor %}
      </ul>
    </div>
    <button class="program-card__btn">
      <span>{{ cardBtnText }}</span>
      <figure><img src="{{ cardBtnIcon }}"></figure>
    </button>
  </div>
{% endmacro %}

{# {% macro item() %}
  {% for item in programCardItems %}
    <div class="program-card">
      <div class="program-card__head">
        <span class="{%- if item.narrow %}narrow{%- endif -%}">{{ item.title }}</span>
        {{OvalLogo.item(
        imgUrl=item.logo,
        class=item.logoClass
      )}}
      </div>
      <div class="program-card__body">
        <ul>
          {% for list in item.features %}
            <li class="{%- if list.strong %} strong{%- endif -%}">{{ list.text }}</li>
          {% endfor %}
        </ul>
      </div>
      <button class="program-card__btn">
        <span>{{ item.btnText }}</span>
        <figure><img src="{{ item.btnIcon }}"></figure>
      </button>
    </div>
  {% endfor %}
{% endmacro %} #}

{# {% set programCardItems = [
  {
    title: 'IOS/ Swift Developer',
    logo: '../assets/images/logo-ios.png',
    logoClass: 'oval-box--ios',
    btnText:'Tüm Program',
    btnIcon:'../assets/images/arrow-small-right.png',
    features: [
      {
        text: 'Swift Ders Programı',
        strong: true
      },
      {
        text: 'Swift Giriş'
      },
      {
        text: 'Değişkenler ve Veri Tipleri'
      },
      {
        text: 'Standart Programlama Yapıları'
      },
      {
        text: 'OpXnal'
      },
      {
        text: 'CollecXons'
      },
      {
        text: 'Nesne Tabanlı Programlama'
      }
    ]
  },
    {
    title: 'Android / Kotlin Developer',
    logo: '../assets/images/logo-kotlin.png',
    logoClass: 'oval-box--kotlin',
    btnText:'Tüm Program',
    btnIcon:'../assets/images/arrow-small-right.png',
    features: [
      {
        text: 'Kotlin Ders Programı',
        strong: true
      },
      {
        text: 'Kotlin Giriş'
      },
      {
        text: 'Android Studio Kurulumu ve İlk Proje Oluşturma'
      },
      {
        text: 'Çalışma Ortamı Tanıtımı ve İlk Programın Çalıştırılması'
      },
      {
        text: 'Bir Projenin Android Studio İçerisinde'
      }
    ]
  },
    {
    title: 'Java Developer',
    narrow: true,
    logo: '../assets/images/logo-java.png',
    logoClass: 'oval-box--java',
    btnText:'Tüm Program',
    btnIcon:'../assets/images/arrow-small-right.png',
    features: [
      {
        text: 'Java Ders Programı',
        strong: true
      },
      {
        text: 'Java & IDE kurulumu'
      },
      {
        text: 'Programlama mantığının aktarılması'
      },
      {
        text: 'Algoritma Bilgisi ve Mantığı'
      },
      {
        text: 'Datatypes and Variables'
      },
      {
        text: 'Operators and Expressions'
      },
      {
        text: 'Control Flow'
      },
      {
        text: 'Arrays'
      }
    ]
  },
  {
    title: '. Net Developer',
    narrow: true,
    logo: '../assets/images/logo-net.png',
    logoClass: 'oval-box--net',
    btnText:'Tüm Program',
    btnIcon:'../assets/images/arrow-small-right.png',
    features: [
      {
        text: '. Net Ders Programı',
        strong: true
      },
      {
        text: 'Temel kavramlar'
      },
      {
        text: 'Visual Studio ortamı'
      },
      {
        text: 'Standart Programlama Yapıları'
      },
      {
        text: 'Temel .net kavramları'
      },
      {
        text: 'Ilk uygulama'
      },
      {
        text: 'Scope kavramı'
      },
      {
        text: 'Değişkenler ve veritipleri'
      },
      {
        text: 'Operatörler'
      }
    ]
  },
  {
    title: 'Data Scientist',
    narrow: true,
    logo: '../assets/images/logo-data.png',
    logoClass: 'oval-box--data',
    btnText:'Tüm Program',
    btnIcon:'../assets/images/arrow-small-right.png',
    features: [
      {
        text: 'Python Programming for 
              Data Analytics',
        strong: true
      },
      {
        text: 'Python'
      },
      {
        text: 'Numpy & Pandas'
      },
      {
        text: 'Matplotlib & Seaborn'
      },
      {
        text: 'Functional Exploratory Data Analysis'
      }
    ]
  },
    {
    title: 'Application Operations',
    logo: '../assets/images/logo-app.png',
    logoClass: 'oval-box--app',
    btnText:'Tüm Program',
    btnIcon:'../assets/images/arrow-small-right.png',
    features: [
      {
        text: 'Application Ders Programı',
        strong: true
      },
      {
        text: 'SQL Server Veritabanı Sorgulama'
      },
      {
        text: 'SQL Server Veritabanı Yönetimi'
      },
      {
        text: 'SQL Server Programlama'
      },
      {
        text: 'LINUX Temelleri'
      },
      {
        text: 'Ilk uygulama'
      },
      {
        text: 'Scope kavramı'
      },
      {
        text: 'Client Kurulumları'
      },
      {
        text: 'LINUX Shell Komutları'
      },
      {
        text: 'Yetkiler ve Kurulum Yönetimi'
      }
    ]
  }
] %} #}