{% import 'includes/components/OvalLogo/oval-logo.njk' as OvalLogo %}

{% macro item(cardLogo, cardLogoClass, firstLoop, cardTitle, cardText, cardBtnText, cardBtnIcon) %}
  <div class="program-card">
    <div class="program-card__head">
      <span class="{%- if firstLoop.narrow -%} narrow{%- endif -%}">{{ cardTitle }}</span>
      {{OvalLogo.item(
        imgUrl=cardLogo,
        class=cardLogoClass
      )}}
    </div>
    <div class="program-card__body">
      <ul>
        {{ caller() }}
      </ul>
    </div>
    <button class="program-card__btn">
      <span>{{ cardBtnText }}</span>
      <figure><img src="{{ cardBtnIcon }}"></figure>
    </button>
  </div>
{% endmacro %}

{# <ul>
        {% for list in cardSubLoop %}
          <li class="{%- if list.strong -%} strong{%- endif -%}">{{ list.text }}</li>
        {% endfor %}
      </ul> #}